services:
  - type: web
    name: festiprintz
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
    healthCheckPath: /
    autoDeploy: true
headers:
  - path: /*
    name: Cache-Control
    value: no-cache, no-store, must-revalidate
  - path: /api/*
    name: Cache-Control
    value: no-cache